# Data Preparation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Online Retail.csv")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [4]:
len(df)

541909

# Check data Duplication

In [5]:
# Check if any duplicated value 
df.duplicated().sum()

5268

In [6]:
# Drop duplicate value
df = df.drop_duplicates()
# Check is there any duplicate value
df.duplicated().sum()

0

# Check missing Value

In [7]:
variables = []
dtypes = []
count = []
unique = []
missing = []


for item in df.columns:
    variables.append(item)
    dtypes.append(df[item].dtype)
    count.append(len(df[item]))
    unique.append(len(df[item].unique()))
    missing.append(df[item].isna().sum())

output = pd.DataFrame({
    'variable': variables, 
    'dtype': dtypes,
    'count': count,
    'unique': unique,
    'missing': missing, 
   
})    

output.sort_values("missing",ascending=False).reset_index(drop=True)
output

      variable    dtype   count  unique  missing
0    InvoiceNo   object  536641   25900        0
1    StockCode   object  536641    4070        0
2  Description   object  536641    4224     1454
3     Quantity    int64  536641     722        0
4  InvoiceDate   object  536641   23260        0
5    UnitPrice  float64  536641    1630        0
6   CustomerID    int64  536641    4372        0
7      Country   object  536641      38        0